<template>
<div>
  <b-field label="Add an ingredient to the list" grouped>
    <b-select v-model="additionalIngredient.ingredient" :loading="ingredientsLoading">
      <option v-for="ingredient in ingredients" :value="ingredient" :key="ingredient.attributes.id">
        {{ ingredient.attributes.Name }}
      </option>
    </b-select>
  </b-field>
  <b-numberinput style="max-width: 70%" size="is-medium" controls-alignment="right" controls-position="compact"
    v-model="additionalIngredient.amount"></b-numberinput>
  <br />
  <b-button rounded @click="addIngredientToListMutants">
    <b-icon icon="playlist_add"></b-icon>Add to grocery list!
  </b-button>
  <b-tabs v-model="activeTab">

    <b-tab-item v-if="recipes" label="Entrees">
      <b-field label="What do you want to make?">
        <b-select placeholder="Select a name" v-model="currentEntree.recipe" :loading="recipesLoading">
          <option v-for="recipe in recipes" :value="recipe" :key="recipe.attributes.id">
            {{ recipe.attributes.Name }}
          </option>
        </b-select>
      </b-field>
      <b-field label="When do you wanna make it?">
        <b-autocomplete ref="autocomplete" :data="meals" field="name" open-on-focus placeholder="e.g. lunch"
          @select="option => currentEntree.meal = option">
          <template slot="empty">Can't find that</template>
        </b-autocomplete>
      </b-field>
      <button class="button" @click="addEntreeToCalendar" :disabled="!currentEntree.meal || !currentEntree.recipe">
        Add Entree
      </button>
      <button class="button" @click="activeTab = 1">Create a recipe!</button>
    </b-tab-item>

    <b-tab-item label="Recipes">
      <recipe-form v-if="ingredients" :ingredients="ingredients" :ingredientsLoading="ingredientsLoading" @refresh-recipes="refreshRecipes" />
    </b-tab-item>

    <b-tab-item label="Ingredients">
      <ingredient-form @refresh-ingredients="refreshIngredients" />
    </b-tab-item>

    <b-tab-item label="Instructions">
      <ol>
        <li>Add individual items to the grocery list</li>
        <li>Add entrees you would like to make and when you want to eat it.</li>
        <li>A grocery list will be generated.</li>
        <li>Recipe not there? Make a recipe! Name it and add the required ingredients.</li>
        <li>Ingredients not there? Add an ingredient name and the unit it is usually measured in</li>
      </ol>
      <br />
      <b-button expanded rounded size="is-large" type="is-warning" @click="activeTab = 0">Let's start cooking!
      </b-button><br />
      <br />
      <strong>Next features</strong>
      <ul>
        <li>Export or save grocerylist</li>
        <li>Improve styling of entree calendar and grocerylist</li>
        <li>Allow users to 'save' and load their grocerylist with a password</li>
        <li>Add pop out recipe/ingredient creation form instead of tabs</li>
        <li>Add a way to track grocerylist progress</li>
        <li>Add a way to get info from an entree in the calendar</li>
      </ul>
      <br />
      <strong>Super future features</strong>
      <ul>
        <li>Price lookup in local supermarkets</li>
        <li>Nutritional facts of recipes</li>
        <li>Add way to crowdsource/suggest changes to recipes</li>
      </ul>
    </b-tab-item>
  </b-tabs>
</div>
</template>
<script>
import IngredientForm from '~/components/grocerylist/IngredientForm.vue';
import RecipeForm from '~/components/grocerylist/RecipeForm.vue';
import axios from 'axios'

export default {
  components: {
    IngredientForm,
    RecipeForm
  },
  data() {
    return {
      activeTab: 3,
      entrees: [],
      currentEntree: {
        meal: null,
        recipe: null
      },
      meals: [
        {
          order: 1,
          name: "breakfast",
          color: "#B8B42D"
        },
        {
          order: 2,
          name: "brunch",
          color: "#697A21"
        },
        {
          order: 3,
          name: "lunch",
          color: "#EDC79B"
        },
        {
          order: 4,
          name: "snack",
          color: "#FE6847"
        },
        {
          order: 5,
          name: "tea",
          color: "#FBB13C"
        },
        {
          order: 7,
          name: "dinner",
          color: "#B66D0D"
        },
        {
          order: 8,
          name: "dessert",
          color: "#FFCAD4"
        },
        {
          order: 9,
          name: "brinner",
          color: "#F4ACB7"
        },
      ],
      additionalIngredient: {
        ingredient: null,
        amount: 0,
      },
      recipesLoading: true,
      ingredientsLoading: true,
      recipes: [],
      ingredients: [],
    }
  },
  async fetch() {
    await this.refreshRecipes()
    await this.refreshIngredients()
  },
  methods: {
    addEntreeToCalendar() {
      this.$store.dispatch(
        'entrees/addEntree', this.currentEntree
      ).then(
         this.currentEntree = {
           meal: null,
           recipe: null
      });
    },
    addIngredientToListMutants() {
      this.$store.dispatch('entrees/addListMutant', {
        Ingredient: this.additionalIngredient.ingredient,
        Amount: this.additionalIngredient.amount,
      }).then(
        this.additionalIngredient = {
          ingredient: null,
          amount: null
        });
    },
    async refreshRecipes () {
      console.log('refreshing recipes')
      await axios.get("https://hiren-devs-strapi-j5h2f.ondigitalocean.app/api/recipes?populate[0]=RecipeIngredients&populate[1]=RecipeIngredients.Ingredient")
      .then((response) => this.recipes = response.data.data)
      .then(this.recipesLoading = false)
      .catch((error) => {console.log('error', error)})
    },
    async refreshIngredients () {
      console.log('refreshing ingredients')
      this.ingredientsLoading = true
      await axios.get("https://hiren-devs-strapi-j5h2f.ondigitalocean.app/api/ingredients")
      .then((response) => this.ingredients = response.data.data)
      .then(this.ingredientsLoading = false)
      .catch((error) => {console.log('error', error)})
    }
  },
}
</script>
