<template>
  <div style="background-color: #FFFF99">
    <p class="grocery-list" v-for="(ingredient, index) in ingredients" :key="index">
      <a @click="removeIngredientFromRecipe({index, ingredient})" style="color:red">X</a>&nbsp; {{ingredient.Amount}} x {{ingredient.Ingredient.attributes.Name}}
    </p>
  </div>
</template>
<script>
export default {
  head() {
    return {
      link: [{
        rel: 'stylesheet',
        href: 'https://fonts.googleapis.com/css?family=Quantico&display=swap'
      }]
    }
  },
  props: {
    ingredients: Array
  },
  methods: {
    removeIngredientFromRecipe(removeThisIgredient) {
      this.$emit('remove-ingredient', removeThisIgredient)
      return this.ingredients.filter(ingredient => ingredient != removeThisIgredient);
    }
  }
}
</script>
<style scoped>
p {
  font-family: Quantico, cursive
}
</style>
