<template>
  <div>
    <b-field label="Name">
      <b-input v-model="currentIngredientName" placeholder="What is it?" rounded></b-input>
    </b-field>
    <b-field label="Unit">
      <b-select v-model="currentIngredientUnit" rounded>
        <option v-for="unit in ingredientUnits" :value="unit" :key="unit">
          {{ unit }}
        </option>
      </b-select>
    </b-field>
    <b-field label="Name">
      <b-select v-model="currentIngredientCategory" placeholder="How would you categorize it?" rounded>
        <option v-for="ingredientCategory in ingredientCategories" :value="ingredientCategory" :key="ingredientCategory">
          {{ingredientCategory}}
        </option>
      </b-select>
    </b-field>
    <b-button rounded @click="createIngredient">Create</b-button>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import axios from 'axios';

export default {
  data() {
    return {
        currentIngredientName: "",
        currentIngredientUnit: "",
        currentIngredientCategory: null,
    }
  },
  computed: {
    ...mapGetters({
      ingredientCategories: 'ingredients/getCategoryNames',
      ingredientUnits: 'ingredients/getIngredientUnits',
    }),

  },
  methods: {
    clearIngredientForm() {
this.currentIngredientName = ""
        this.currentIngredientUnit = ""
        this.currentIngredientcategory = null
    },
    async createIngredient() {
      console.log('hello');
      const ingredientObject = {
        data: {
          Name: this.currentIngredientName + " (" + this.currentIngredientUnit + ")",
          Category: this.currentIngredientCategory
        }
      }

      await axios
        .post("https://hiren-devs-strapi-j5h2f.ondigitalocean.app/api/ingredients", ingredientObject)
        .then(this.clearIngredientForm())
        .then(this.$emit('refresh-ingredients'))
        .catch(error => console.log(error))
    },
  }
}
</script>
