<template>

</template>
<script>
import IngredientForm from '~/components/grocerylist/IngredientForm.vue';
import RecipeForm from '~/components/grocerylist/RecipeForm.vue';
import EntreeForm from '~/components/grocerylist/EntreeForm.vue';
export default {

}
</script>
