<template>
    <section class="columns is-centered" style="padding-top: 10px;">
        <div class="column is-two-thirds" style="padding-right: 20px;">
            <br />
            <br />
            <div class="card" card-color="gray">
                <header class="card-header">
                    <p class="card-header-title">
                        Send me a message.
                    </p>
                </header>
                <div class="card-content">
                    <strong>Your name</strong>
                    <b-input v-model="name"></b-input>
                    <strong>Your e-mail</strong>
                    <b-input type="email" value="john@" v-model="email" maxlength="50">
                    </b-input>
                    <strong>Message</strong>
                    <b-input v-model="message" type="textarea" maxlength="200">
                    </b-input>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <b-button :loading="buttonLoaderOn" type="is-black" @click="sendGuestMessage">Send Email</b-button>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </section>
</template>
<script>
import axios from "axios";
export default {
    data() {
        return {
            name: "",
            message: "",
            email: "",
            contact: {
                Address: "NL Amsterdam",
                PhoneNumberNL: "+ 31 (0)6 2897 2693",
                KvK: " A’dam 34274244",
                PhoneNumberDE: "+ 49 (0)2054 871 557"
            },
            buttonLoaderOn: false,
        }
    },
    methods: {
        async sendGuestMessage () {
            console.log("haii");
            this.buttonLoaderOn = true;
            let mailMessage = JSON.stringify({
                email: this.email,
                message: this.message,
                name: this.name,
            });
            console.log("mail message object", mailMessage);

            await axios.post('/.netlify/functions/send-email-hiren-ninja', mailMessage)
            .then(res => console.log(res))
            .then(() => this.resetForm())
            .catch(error => console.log(error));
        },
        resetForm() {
          this.name = "";
          this.email = "";
          this.message = "";
          this.buttonLoaderOn = false;
        },
    }
};
</script>
<style scoped>
.gold-text, label.label {
    color: gold !important
}
.label.label {
    color: gold !important
}
.input, .textarea, .taginput .taginput-container.is-focusable, .select select {
    background-color: #363636 !important
}
</style>
