<template>
    <section class="section is-medium">
      <h2 class="title has-text-centered">Projects</h2>
      <div class="columns is-centered">
        <div v-for="(project, i) in projects" :key="i" class="column">
          <PastProject :project="project" />
        </div>
      </div>
    </section>
</template>
<script>
import PastProject from '~/components/PastProject.vue'
export default {
    components: {
        PastProject
    },
    data() {
        return {
            projects: [
                {
                    name: "Image Color Analyzer",
                    coverImage: "./coloranalyzer.png",
                    link: "https://www.coloranalyzer.info",
                    description: "A tool used to get the colors present in image(s)",
                },
                {
                    name: "Itamar Gilboa",
                    coverImage: "./itamargilboa.png",
                    link: "https://starlit-figolla-325428.netlify.app/",
                    description: "Website made for Amsterdam based artist, Itamar Gilboa. In final stages, hence the funny link.",
                },
                {
                    name: "Benjamin Gijzel",
                    coverImage: "./benjamingijzel.png",
                    link: "https://www.benjamingijzel.nl",
                    description: "Website made for senior model & actor, Benjamin Gijzel from Amsterdam",
                },
                {
                    name: "TV Lunch",
                    coverImage: "tvlunch.png",
                    link: "https://www.tvlunch.nl",
                    description: "Website made for a commercial catering service, specializing in film, tv, and commercial filming sets",
                },
                {
                    name: "Hershey . Ninja",
                    coverImage: "hershey-ninja.png",
                    link: "https://hershey.ninja",
                    description: "Website made for my passion project, deejaying.",
                },
                {
                    name: "Hiren . Ninja",
                    coverImage: "hiren-ninja.png",
                    link: "https://hiren.ninja",
                    description: "The website you are currently on.",
                }
            ],
        }
    }
}
</script>
