<template>
    <section class="section is-medium has-text-centered">
      <h2 class="title is-size-1">Services</h2>
      <div class="columns is-centered">
        <div v-for="(service, i) in services" :key="i" class="column">
          <b-image style="padding:15px !important;" :src="service.image"/>
          <p class="is-size-3 has-text-weight-semibold">{{ service.name }}</p>
          <br/>
        </div>
      </div>
    </section>
</template>
<script>
export default {
  data() {
    return {
      services: [
        {
          name: "IT Consulting",
          text: "A customer-focused web developer.",
          image: "./consult.svg",
          color: "black"
        },
        {
          name: "Web Development",
          text: "A customer-focused web developer.",
          image: "./code.svg",
          color: "black"
        },
        {
          name: "Tech Coaching",
          text: "A customer-focused web developer.",
          image: "./plan.svg",
          color: "black"
        },
      ],
    }
  }
}
</script>
