<template>
  <div style="background-color: antiquewhite;">
    <section class="main-content columns is-centered">
      <div class="column is-two-thirds-desktop">
        <nuxt />
      </div>
    </section>
  </div>
</template>
