<template>
    <div>
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
            <h1 class="title is-2">
                Whoami
            </h1>
            </div>
        </div>
        </section>
    <section class="section">

    </section>
    </div>
</template>
