<template>
  <div class="columns">
    <div class="column" style="min-height: 50vh;">
      <grocery-list v-if="stateGroceryIngredients.length > 0" :groceryIngredients="stateGroceryIngredients" />
    </div>
    <div class="column">
      <entree-calendar :entrees="stateEntrees"/>
    </div>
    <div class="column is-two-fifths">
      <entree-form />
    </div>
  </div>
</template>
<script>
import EntreeForm from '~/components/grocerylist/EntreeForm.vue';
import EntreeCalendar from '~/components/grocerylist/EntreeCalendar.vue';
import GroceryList from '~/components/grocerylist/GroceryList.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    GroceryList,
    EntreeForm,
    EntreeCalendar,
  },
  computed: {
    ...mapGetters({
      stateGroceryIngredients: 'entrees/getGroceryIngredients',
      stateCategories: 'ingredients/getCategories',
      stateEntrees: 'entrees/getEntrees',
    }),
  },
}
</script>
